.father{
    position: relative;
    overflow: hidden;
}
.homeHead{
    display: flex;

    justify-content: space-around;
    padding: 7px 15px;
    position: fixed;
    top:0;
}
.pic-icon{
    width: 58px;
    height: 28px;
    margin-right: 10px;
    border: 1px solid hsla(0,0%,88%,.3);
    border-radius: 15px; 
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box; 
}
.pic-icon i {
    font-size: 16px;
    color: #fefefe;
}
.pic-icon span{
    font-size: 14px;
    color: #fefefe;
}
.search{
    width: 240px;
    height: 28px;  
    border: 1px solid hsla(0,0%,88%,0.2);
    background-color: rgba(0,0,0,0.2);
    padding: 2px 0 5px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 10px;

}
.search span{
    font-size: 14px;
    color: #fefefe;
}
.search span:first-child{
    margin-left: 10px;
    margin-right: 10px;
}
.headPic{
    width: 27px;
    height: 28px;
}
.headPic img{
    height: 100%;
}
.adver{
    width: 347px;
    height: 102px;
    margin-top:30px;
    margin-left:15px;
}
.adver img{
    width: 100%;
}
.ad-box {
    width: 100%;
    margin-top: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}
.advise-box {
    width: 99%;
    background-color: #f5f5f5;
}
.advise-box>.advise {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    
}
.advise-box .advise li{
    background: #fefefe;
    width: 49%;
}
.advise-box .advise li a{
    display: flex;
    justify-content: space-around;
    padding: 10px 17px;
    box-sizing: border-box;
}

.advise-box .advise li a>div:nth-child(2){
    margin-top:20px;
}
.advise-box .advise li a div h3{
    font-size: 16px;
}
.advise-box .advise li a div p{
    font-size: 12px;
    width: 90px;
}
.advise-box .advise li a div img{
    height: 45px;
    width: 44px;
}
.red{
    color: red;
}
.advise-box .advise-b{
    margin-top :10px;
    display: flex;
    justify-content: space-between;
    margin-left: -40px; 
}
.advise-box .advise-b li{
    background: #fefefe;
    text-align: center;
    width: 32%;
}
.advise-box .advise-b li a div h3{
    font-size: 16px;
}
.advise-box .advise-b li a div p{
    font-size: 12px;
}
.advise-box .advise-b li a div img{
    height: 45px;
    width: 44px;
}
