.theatreStyleCenter{
    width:100%;
    height:50px;

    /* background:#999; */
}
.theatreStyleCenter .thear{
		text-align: center;
}
.theatreStyleCenter_logo{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
	
.theatreStyleCenter_logo h2{
	display: inline-block;
    font-size: 20px;
    line-height: 50px;
	float: left;
	padding:0 15px;
}
.theatreStyleCenter span{
	font-size: 20px;
	line-height: 50px;

	/* margin:0 50px; */
	
}
.theatreStyleCenter .theatreStyleCenter_logo span{
	text-align: center;
}

.theatreStyleCenter h3{
	float: right;
	margin:15px 20px;
}

.theatreStyle_img img{
	width:100%;
	height:170px;
	
}
.theatreStyle_nav{
	width:100%;
	height:110px;
	/* background:#999; */
	padding:0 20px;
	border:1px solid #fafafa;
	box-sizing: border-box;
}

.the_nav_z{
	/* background:#0074D9; */
	width:52px;
	height:85px;
	float: left;
	padding:0 10px;
	margin:20px 5px 20px 5px;
}
.the_nav_z img{
	font-size: 45px;
	color:#6666;
	width:55px;
}

.the_nav_z h5{
	font-size: 15px;
	margin:0 10px;
}

.theatar_show{
	width:100%;
	height:50px;
	border-top:1px solid #ccc
	/* background:#0074D9; */
}
.theatar_show h2{
	font-size: 20px;
	float: left;
	line-height: 10px;
	margin:0 15px;
}


.theatar_car{
	width:100%;
	height:155px;
	/* background:red; */
	border-bottom:1px solid #ccc
}

.theatar_car_img {
	width:105px;
	height:145px;
	float: left;
	margin:0 13px;
}
.theatar_car_img img{
	width:100px;
	height:135px;
	float: left;
}

.theatar_car_right{
	/* background:#000066; */
	width:98%;
	height:145px;
	margin:8px 0;
}
.theatar_car_right p{
	font-size:15px;
}
.theatar_car_right h4{
	font-size: 10px;
	color:#ccc;
}
.theatar_car_right h2{
	font-size: 10px;
	color:#ccc;
	margin:-8px 0  0 0 ;
}

.theatar_car_right h3{
	color:#ff7919;
	float: left;
	margin:10px;
	font-size: 16px;
}

.theatar_input {
	margin:auto;
	padding:0;
	width:150px;
	height:30px;
	/* background:#0077AA; */
	text-align:center;
	
}
.theatar_input h6{
	width:150px;
	height:30px;
	text-align:center;
	font-size: 15px;
	line-height: 30px;
	color:#999;
	border: 1px solid #eee;
}
